.Gemini-Wte {
  border: 1px solid rgb(31, 8, 48);
  border-radius: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}
.Gemini-Blk {
  border: 1px solid rgb(31, 8, 48);
  border-radius: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: rgba(50, 50, 50);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(50, 50, 50);
  position: relative;
}
.PayloadContainer {
  visibility: hidden;
}
.PayloadContainer-Wte {
  /* border: 1px solid rgb(63, 62, 62); */
  margin: 2.5% 5%;
  border-radius: 8px;
  height: 70%;
  width: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: hsl(200, 20%, 95%);
  position: absolute;
  top: 10%;
  color: black;
}
.PayloadContainer-Blk {
  /* border: 1px solid rgb(63, 62, 62); */
  margin: 2.5% 5%;
  border-radius: 8px;
  height: 70%;
  width: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgba(75, 75, 75);
  position: absolute;
  top: 10%;
  color: white;
}
.PayloadQn {
  visibility: hidden;
}
.PayloadQn-Wte {
  background-color: hsl(200, 20%, 95%);
  margin: 5%;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.PayloadQn-Blk {
  background-color: rgba(75, 75, 75);
  /* background-color: hsl(200, 20%, 95%); */
  margin: 5%;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.Answer-Wte {
  font-size: medium;
  padding: 8px 8px;
  /* overflow: auto; */
  color: black;
}
.Answer-Blk {
  font-size: medium;
  padding: 8px 8px;
  color: white;
}
.InputWrapper-Wte {
  position: absolute;
  right: 5%;
  bottom: 2%;
  display: flex;
  align-items: flex-end;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  padding: 8px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 10;
}
.InputWrapper-Blk {
  position: absolute;
  right: 5%;
  bottom: 2%;
  display: flex;
  align-items: flex-end;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  padding: 8px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(75, 75, 75);
  z-index: 10;
}
.dynamicTextArea {
  flex-grow: 1;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 10px;
  margin: 0;
  background-color: transparent;
  max-height: 150px;
  min-height: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.send-btn {
  background-color: #374d6b;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}
