.NavBar-Wte {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  padding: 10px 20px;
  padding: min(1.25rem, 5%) max(7%, 5%, 2%);
  margin: auto;
  border-bottom: 1px solid rgb(171, 118, 83);
  background-color: rgb(240, 243, 213);
  color: black;
}
.NavBar-Blk {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  padding: 10px 20px;
  padding: min(1.25rem, 5%) max(7%, 5%, 2%);
  margin: auto;
  border-bottom: 2px solid rgb(31, 8, 48);
  background-color: black;
  color: rgba(220, 20, 60);
}

.gridLeft {
  display: flex;
  align-items: center;
  justify-content: left;
}
.gridMiddle-Wte {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.gridMiddle-Blk {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d8860b;
}
.gridRight {
  display: flex;
  align-items: center;
  justify-content: right;
}
.NavBar1 {
  display: flex;
  gap: 10px;
}
p {
  font-size: 30px;
  font-weight: 500;
}
ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}
a {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  justify-content: center;
  align-items: center;
}
label {
  width: 50px;
  height: 25px;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  transition: 0.3s;
}
#DarkMoadeToggle {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
input:checked + label {
  background-color: #242424;
}
input:checked + label:after {
  left: 48px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label img {
  position: absolute;
  width: 16px;
  top: 4px;
  z-index: 100;
}
label .iconSun {
  left: 4px;
  fill: #7e7e7e;
  transition: 0.3s;
}
label .iconMoon {
  left: 30px;
  fill: #7e7e7e;
  transition: 0.3s;
}
