.NavBar {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  padding: 10px 20px;
  padding: min(1.25rem, 5%) max(7%, 5%, 2%);
  margin: auto;
  border-bottom: 1px solid rgb(171, 118, 83);
  background-color: rgb(240, 243, 213);
}
.gridLeft {
  display: flex;
  align-items: center;
  justify-content: left;
}
.gridMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridRight {
  display: flex;
  align-items: center;
  justify-content: right;
}
.NavBar1 {
  display: flex;
  gap: 10px;
}
p {
  font-size: 30px;
  font-weight: 500;
}
ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}
a {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  justify-content: center;
  align-items: center;
  color: black;
}
