.skeletonCard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* aspect-ratio: 1/1; */
  gap: 20px; /* Space between the cards */
  min-height: 300px;
  max-width: 1000px;
  margin: 20px 0px;
}
.skeletonCard-Wte {
  background-color: rgb(
    184,
    168,
    168,
    0.7
  ); /* Slightly transparent white for the cards */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: left;
  color: black;
  min-height: 300px;
}
.skeletonCard-Blk {
  background-color: rgb(
    50,
    50,
    50
  ); /* Slightly transparent white for the cards */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: left;
  color: black;
  min-height: 300px;
}

#Skeleton {
  min-width: 500px;
  /* background-color: #ccc; */
}
.skeltonText {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
}
.skeltonText:last-child {
  width: 80%;
}
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.h2 h2 {
  width: 100px;
  height: 1rem;
  margin: 15px 5px;
}
.sklPara {
  padding: 10px;
  margin: 15px;
}
.sklPara p {
  height: 15px;
}
