.card {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Slightly transparent white for the cards */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: left;
  color: black;
}
.card-topic {
  text-align: center;
}
.card-question {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.card-answer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
