.Main {
    justify-content: center;
    text-align: center;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Space between the cards */
    max-width: 800px;
    margin: 0 auto;
}
