.Main {
    justify-content: center;
    text-align: center;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Space between the cards */
    max-width: 800px;
    margin: 0 auto;
}
.card {
  background-color: rgba(255, 255, 255, 0.7); /* Slightly transparent white for the cards */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: left;
    color: #333;
}
